@media screen and (max-width: 1100px) {
  .adContainer {
    display: block;
  }

  .adItems {
    margin-top: 24px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1101px) {
  .adItems {
    display: flex;
    gap: 32px;
    flex-wrap: nowrap;
    padding-bottom: 8px;
    -webkit-overflow-scrolling: touch;
    justify-content: center; 
  }

  .adTitles {
    justify-content: center;
  }
}

@media screen and (max-width: 885px) {
  .adItems {
    display: flex;
    gap: 32px;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding-bottom: 8px;
    -webkit-overflow-scrolling: touch;
    justify-content: flex-start; 
  }
}