.hero {
  .wrapper {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }

  /* скрываем скролл */
  .heroScroll {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
    overflow: auto hidden;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  .heroScroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

@media only screen and (min-width: 1600px) {
  .hero .wrapper {
    flex: 0 0 1;
    width: 100%;
    max-width: 1320px;
  }
}

.heroContainer {
  max-width: 1320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .heroItem {
    box-sizing: border-box;
    position: relative;
    background-color: rgb(247, 247, 245);
    width: clamp(280px, 86vw, 520px);
    aspect-ratio: 3 / 5;
    height: auto;
    cursor: pointer;
    padding: 16px;
    overflow: hidden;
    border-radius: 32px;
    transform: translateZ(0px);
    scroll-snap-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .heroItem h2 {
    font-size: 15vw;
  }
}